$globalBgColor: #333; // 全局背景色
$globalFtColor: #fff; // 全局前景色
$globalFontFamily: "Microsoft Yahei"; // 全局字体
$logoFtColor: #aaa;  // logo 文字前景色
$logoFtTransColor: #eee; // hover时的 logo 文字前景色
$navBarWidth: 200px;
