$globalBgColor: #333; // 全局背景色
$globalFtColor: #fff; // 全局前景色
$globalFontFamily: "Microsoft Yahei"; // 全局字体
$logoFtColor: #aaa;  // logo 文字前景色
$logoFtTransColor: #eee; // hover时的 logo 文字前景色
$navBarWidth: 200px;
$pColor: #555; // 段落颜色
$hColor: #333; // 标题颜色
$infoBlue: #3699dc; // 副标题强调色
$infoHoverBlue: #1d70a8; // 副标题hover的强调色
$pFontSize: 14px;
